
.hide {
    display: none;
}

.show {
    display: block;
}

.working{
    color: crimson;
    font-family: sans-serif;
    font-size: 4em;
}


.break{
    color: darkturquoise;
    font-family: sans-serif;
    font-size: 4em;
}

.longBreak{
    color: mediumpurple;
    font-family: sans-serif;
    font-size: 4em;
}

.none{
    color: dimgray;
    font-family: sans-serif;
    font-size: 4em;
}

