.fa-play{
    float: left;
    color: #00CC66;
}
.fa-pause{
    float: left;
    color: #66CCFF;
}
.fa-stop{
    float: right;
    color: #66CCFF;
}

.hide {
    opacity: 0;
}

#circleDiv{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin: auto;
    text-align: center;
    position: relative;
    margin-top: 5%;
    background-color: #00CC66;
}

#clock{
    color: white;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
    font-size: 4em;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#controls{
    z-index: -40;
    width: 12%;
    margin: auto;
    margin-top: 2%;
}

.skipBreak{
    z-index: -30;
    width: 12%;
    margin: auto;
    padding: 10px;
    background-color: white;
    border: solid;
    border-color: #00CC66;
    color: #00CC66;
    font-family: 'Exo 2', sans-serif;
    font-size: 1.2em;
    text-align: center;
}